.searchBtn{
    background-color: #0E7A0D;
    color: white;
    float: left;
}

.options{
    float: left;
    width: 120px;
    margin-right: 8px;
}

.game-body{
    background-color: white !important;
    border: none !important;

}

.chooseBtn{
    background-color: #939393;
    margin-left: 15px;
    border-radius: 2px;
    width: 5rem;
    margin-top: 20px !important;
}

.selection{
    border-radius: 0;
    border-color: black;
    width: 100% !important;
}

.image {
    margin-left: 15px;
    margin-right: 10px;
    margin-top:5px;
    width: 40% !important;
    height: 200px !important;
}


.img-body{
    padding: 0 !important;
    margin-right: 10px !important;
}


.card-title {
    margin-bottom: 0 !important;
}

.card-text {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}

