.ResetForm{
    width: 80%;
    padding-left: 90px;
}

.card{
    float: none;
    margin: 80px auto 200px;
    padding-bottom: 50px;
    width: 50%;
    box-shadow: 0 0 5px lightgray;
}

.btn-success{
    width: 50%;
    margin: 0 auto;
}